@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    word-break: keep-all;
    outline: 0px solid silver;
    font-family: 'Noto Sans KR', sans-serif;
}

body {
    color: black;
}

p,
li {
    font-size: 0.9rem;
}

a {
    text-decoration: none;
    cursor: pointer;
    transition: 0.5s;
    text-transform: uppercase;
    color: black;
}

table {
    border-collapse: collapse;
    border: none;
}

textarea {
    resize: none;
}

input {
    border: 0px;
    background-color: transparent;
}

img {
    display: block;
    margin: auto 0;
}

button {
    border: 0px solid;
    background: transparent;
    transition: 0.3s;
}

.display-flex {
    display: flex;
    justify-content: space-between;
}

.display-flex-flow {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.flex-left {
    display: flex;
    justify-content: left;
}

.pc,
.pc-flex {
    display: none;
}

.black-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 20;
    background-color: black;
    opacity: 0.7;
    overflow: hidden;
}

article>div {
    padding: 80px 5%;
}

article>div>:first-child {
    text-align: center;
    margin-bottom: 30px;
}

article>div>:first-child p {
    margin-top: 8px;
}

/* header */

header {
    position: relative;
}

header>div {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 30;
    padding: 15px 5%;
    background-color: white;
    border-bottom: 1px solid #ccc;
}

header>div>:first-child>:first-child h4 {
    margin: auto 0;
    margin-left: 10px;
}

header>div>:first-child>:first-child img {
    width: 50px;
    height: auto;
    margin: auto 0;
    filter: grayscale(1) brightness(0);
}

header>div>:first-child>:last-child {
    margin: auto 0;
    cursor: pointer;
}

header>div>:first-child>:last-child img {
    width: 30px;
    height: auto;
}

/* nav */

nav {
    position: fixed;
    top: 0;
    right: -100%;
    background-color: white;
    width: 70%;
    height: 100vh;
    z-index: 50;
    transition: 0.5s;
    padding: 15px 5%;
}

.nav-open {
    right: 0;
}

nav>:first-child {
    display: flex;
    justify-content: right;
    margin-bottom: 30px;
}

nav>:first-child img {
    width: 20px;
    height: auto;
    cursor: pointer;
}

nav>ul {
    padding: 0 10px;
}

nav>ul>li>div {
    cursor: pointer;
}

nav>ul>li>div>p {
    font-size: 1rem;
    font-weight: bold;
    transition: 0.3s;
}

nav>ul>li>div>p:hover {
    color: #7B0202;
}

nav>ul>li>div>div {
    margin: auto 0;
}

nav>ul>li>div>div img {
    width: 15px;
    height: auto;
}

nav>ul>li>ul {
    margin: 20px 0;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transform: translateY(-6px);
    transition:
        max-height 1.5s ease,
        opacity 0.8s ease,
        transform 0.8s ease;
}

nav>ul>li>ul.sub-open {
    max-height: 240px;
    opacity: 1;
    transform: translateY(0);
}

nav>ul>li>ul>li {
    margin: 8px 0;
}

nav>ul>li>ul>li a:hover {
    color: #7B0202;
    font-weight: bold;
}

.sub {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transform: translateY(-6px);
    transition:
        max-height 0.8s ease,
        opacity 0.4s ease,
        transform 0.4s ease;
}

/* main */

main {
    margin-top: 70px;
}

.category-main {
    position: relative;
    height: 250px;
}

.category-main h1 {
    color: white;
}

.category-main>div>:first-child>img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.category-main>div>:nth-child(2) {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.category-main>div>:last-child {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #eee;
}

.category-main>div>:last-child>:first-child {
    padding: 10px;
    background-color: #7B0202;
    cursor: pointer;
}

.category-main>div>:last-child>:first-child img {
    width: 25px;
    height: auto;
}

.category-main>div>:last-child>section {
    padding: 10px;
    position: relative;
    gap: 20px;
}

.category-main>div>:last-child>section:first-of-type {
    background-color: #222;
    color: white;
}

.category-main>div>:last-child>section:first-of-type img {
    filter: invert(1);
}

.category-main>div>:last-child>section>h4 {
    font-size: 0.8rem;
}

.category-main>div>:last-child>section>h4,
.category-main>div>:last-child>section>div {
    margin: auto 0;
}

.category-main>div>:last-child>section>div img {
    width: 15px;
    height: auto;
    cursor: pointer;
}

.category-main>div>:last-child>section>ul {
    position: absolute;
    left: 0;
    opacity: 0;
    visibility: hidden;
    top: 44px;
    background-color: white;
    width: 100%;
    text-align: center;
    z-index: 10;
    transition: 0.5s;
    border: 1px solid #eee;
}

.category-main>div>:last-child>section>ul.category-open {
    opacity: 1;
    visibility: visible;
}

.category-main>div>:last-child>section>ul li {
    padding: 10px;
    text-align: left;
}

.category-main>div>:last-child>section>ul li:hover {
    background-color: #eee;
}

/* footer */

footer {
    background-color: #222;
    color: #ccc;
    position: relative;
}

footer>div {
    padding: 50px 5% 80px;
}

footer>div>:first-child {
    position: fixed;
    right: 5%;
    bottom: 70px;
}

footer>div>:first-child img {
    cursor: pointer;
    width: 50px;
    height: auto;
}

footer>div>:last-child>:first-child {
    gap: 15px;
}

footer>div>:last-child img {
    width: 70px;
    height: auto;
    filter: grayscale(1) invert(1);
}

footer>div>:last-child h2 {
    margin: auto 0;
}

footer>div>:last-child ul {
    margin: 15px 0 30px;
}

footer>div>:last-child ul li {
    margin: 5px 0;
}

@media screen and (min-width: 768px) {

    p,
    li {
        font-size: 1rem;
    }

    article>div>:first-child h2 {
        font-size: 2rem;
    }

    /* main */

    main {
        margin-top: 69px;
    }

    .category-main {
        height: 300px;
    }

    .category-main>div>:first-child>img {
        height: 300px;
    }

    .category-main>div>:nth-child(2) h1 {
        font-size: 2.5rem;
    }

    .category-main>div>:last-child {
        width: 50%;
    }

    .category-main>div>:last-child>:first-child {
        padding: 20px;
    }

    .category-main>div>:last-child {
        width: 72%;
    }

    .category-main>div>:last-child>section {
        padding: 20px;
        gap: 20px;
        width: 45%;
    }

    .category-main>div>:last-child>section>h4 {
    font-size: 1rem;
}

    .category-main>div>:last-child>section>ul {
        top: 65px;
    }

    /* footer */

    footer>div>:first-child img {
        width: 60px;
    }
}

@media screen and (min-width: 1366px) {

    .pc-flex {
        display: flex;
        pointer-events: auto;
    }

    .pc {
        display: block;
    }

    .mo {
        display: none;
    }

    article>div {
        padding: 150px 0px;
        width: 1200px;
        margin: 0 auto;
    }

    article>div>:first-child {
        text-align: center;
        margin-bottom: 50px;
    }

    article>div>:first-child h2 {
        font-size: 2.3rem;
    }

    article>div>:first-child p {
        margin-top: 8px;
    }

    /* header */

    header>div {
        padding: 0;
    }

    header>div>:first-child {
        width: 1200px;
        margin: 0 auto;
    }

    header>div>:first-child>:first-child {
        margin: auto 0;
    }

    header>div>:first-child>:first-child h4 {
        font-size: 1.5rem;
    }

    header>div>:first-child>:nth-child(2)>div>ul li {
        padding: 30px;
        cursor: pointer;
        font-weight: bold;
        font-size: 1.2rem;
    }

    header>div>:first-child>:nth-child(2)>div>ul li:hover {
        border-bottom: 2px solid #7B0202;
        color: #7B0202;
    }

    header>div>:first-child>:nth-child(2)>div.hover>ul li.active {
        border-bottom: 2px solid #7B0202;
        color: #7B0202;
    }

    header>div>:first-child>:nth-child(2)>div>div {
        position: absolute;
        top: 91px;
        left: 0;
        width: 100%;
        padding: 20px 0 200px;
        background-color: white;
        display: none;
    }

    header>div>:first-child>:nth-child(2)>div.hover>div {
        display: block;
    }

    header>div>:first-child>:nth-child(2)>div>div>div {
        margin: 0 auto;
        justify-content: center;
    }

    header>div>:first-child>:nth-child(2)>div>div>div>ul:first-of-type {
        margin-left: 175px;
    }

    header>div>:first-child>:nth-child(2)>div>div>div>ul li {
        color: #555;
        text-align: center;
        padding: 8px 30px;
        width: 130.66px;
    }

    header>div>:first-child>:nth-child(2)>div>div>div>ul:nth-of-type(3) li {
        width: 252.8px;
    }

    header>div>:first-child>:nth-child(2)>div>div>div>ul li a {
        color: #555;
        white-space: nowrap;
    }

    header>div>:first-child>:nth-child(2)>div.hover>div>div>ul li a:hover {
        color: #7B0202;
        font-weight: bold;
    }

    /* nav */

    nav {
        right: 0;
        width: 100%;
        padding: 0;
        display: none;
        padding: 30px 0;
    }

    .nav-open {
        display: block;
    }

    nav>:first-child {
        justify-content: space-between;
        width: 1200px;
        margin: 0 auto 30px;
    }

    nav>:first-child>div {
        margin: auto 0;
    }

    nav>ul {
        width: 900px;
        margin: 50px auto 0;
        padding: 0px;
        display: flex;
        justify-content: space-between;
        height: auto;
    }

    nav>ul>li {
        height: 500px;
        padding: 0 50px;
        width: 300px;
    }

    nav>ul>li:not(nav>ul>li:last-of-type) {
        border-right: 1px solid #eee;
    }

    nav>ul>li>div>p {
        font-size: 1.5rem;
        font-weight: bold;
        transition: 0.3s;
        white-space: nowrap;
    }

    nav>ul>li>div>p:hover {
        color: black;
    }

    nav>ul>li>ul {
        margin-top: 30px;
        overflow: unset;
        opacity: 1;
        transform: translateY(0px);
    }

    nav>ul>li>ul>li {
        margin: 10px 0;
        position: relative;
        padding-left: 10px;
    }

    nav>ul>li>ul>li::before {
        content: '';
        width: 5px;
        height: 5px;
        border-radius: 50%;
        border: 2px solid black;
        position: absolute;
        top: 50%;
        left: -10px;
        transform: translate(0%, -50%);
    }

    nav>ul>li>ul>li:hover a {
        font-weight: bold;
    }

    /* main */

    main {
        margin-top: 87px;
    }

    .category-main {
        height: 500px;
    }

    .category-main>div>:first-child>img {
        height: 500px;
    }

    .category-main>div>:nth-child(2) h1 {
        font-size: 3rem;
    }

    .category-main>div>:last-child {
        width: 57%;
    }

    .category-main>div>:last-child>:first-child {
        padding: 20px;
    }

    .category-main>div>:last-child>:first-child img {
        width: 35px;
    }

    .category-main>div>:last-child>section {
        padding: 20px;
        gap: 40px;
        width: 30%;
    }

    .category-main>div>:last-child>section>ul {
        top: 72px;
    }

    .category-main>div>:last-child>section>ul li {
        padding: 15px;
    }

    /* footer */


    footer {
        background-color: #222;
        color: #ccc;
        position: relative;
    }

    footer>div {
        width: 1200px;
        margin: 0 auto;
        padding: 50px 0 80px;
    }

    footer>div>:first-child {
        right: 150px;
        bottom: 120px;
    }

    footer>div>:last-child {
        display: flex;
        gap: 70px;
    }

    footer>div>:last-child>:first-child {
        display: block;
        width: 250px;
    }

    footer>div>:last-child img {
        width: 130px;
    }

    footer>div>:last-child h2 {
        margin: 0;
    }

    footer>div>:last-child>:last-child {
        margin: auto 0;
    }

    footer>div>:last-child ul {
        margin: 0;
        display: flex;
        gap: 8px;
        flex-wrap: wrap;
    }

    footer>div>:last-child ul li {
        margin: 0;
        position: relative;
        padding-right: 10px;
        font-size: 0.9rem;
    }

    footer>div>:last-child ul li::after {
        content: '';
        position: absolute;
        top: 50%;
        right: 0;
        transform: translate(0%, -50%);
        width: 1px;
        height: 10px;
        background-color: #aaa;
    }

    footer>div>:last-child ul li:nth-last-of-type(2)::after,
    footer>div>:last-child ul li:last-of-type::after {
        width: 0;
    }

    footer>div>:last-child p {
        margin-top: 30px;
    }

}